
.card{
    background:rgb(231, 202, 207);
    width: 400px;
    border-radius:20px; 
    margin-left:20px;
    padding: 10px 10px;
    box-shadow:5px 5px 50px rgba(0, 2, 1, 0.934);
    font-family: 'Poppins';
}
.container{
    height:100vh;
    display:flex;
    justify-content: space-evenly;
    align-items: center;

}
.card-header{
    display: flex;
    justify-content: space-between;
    
}
img{
    border-radius: 100px;
    height:90px;
    width: 90px;
}
svg{
    width:2opx;
    height:20px;
}
.icon{
    display: flex;
    justify-content: space-between;
}
h1{
    animation-name:myanimation;
    animation-duration:10s;
}
@keyframes myanimation {
    0%{
        color: red;
    }
    100%{
        color:aqua
    }
}
.header{
    display:flex;
    justify-content:flex-right;
    padding-right: 30px;
    padding-left: 10px ; 

    



 
   
   









